*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: fit-content;
    margin: auto;
    align-items: center;
}

.slider{
    width: fit-content; 
    margin: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slides{
    width:800px;
    display: flex;
    transition: all 1s;

}
.slides img{
    width: 400px;
    padding: 5px;
}